<!DOCTYPE html>
<html class="wide wow-animation smoothscroll" lang="en">

<head>
  <!-- Site Title-->
  <title>
    <%= translation.HUB_LOGS_TITLE %>
  </title>
  <!-- Site logo images-->
  <link href="/images/logo.png" rel="icon" type="image/x-icon" />
  <!--Stylesheets file links -->
  <% include _layouts/common-header %>
    <link rel="stylesheet" href="/styles/oldmeeting.css">
    <link rel="stylesheet" href="/styles/meeting/meeting.css">
</head>

<body class=" bg-white">
  <% include _layouts/header-with-navigation %>
    <div class="page">
      <div id="page-loader">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
      </div>
      <div class="container-fluid breadcrumb-container">
        <ol class="breadcrumb">
          <h5 class="meeting-head-bread  t-c-default-toolbar">
            <%= translation.HUB_LOGS_TOOLBER %>
          </h5>
          <li>
            <a href="/dashboard" class="breadcrumb-links">
              <%= translation.HUB_SPACES_TOOLBAR_DASHBOARD %>
            </a>
          </li>
          <li>
            <%= translation.HUB_LOGS_TOOLBER %>
          </li>
        </ol>
      </div>
      <!-- BEGIN users search head -->
      <div style="margin-bottom:120px">
        <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-left-right-none text-center">
          <!-- Search input field -->
          <div class="form-wrap form-wrap_icon linear-icon-magnifier head-search-w-h">
            <input id="filter-meeting" class="form-input cursor-auto search-input input-box-shadow" type="text" name="search" placeholder="<%= translation.HUB_LOGS_SEARCH_LOGS %>">
          </div>
        </div>
        <!--Pagination plugin-->
        <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 text-center padding-left-right-none">
          <ul class="sync-pagination pagination-sm "></ul>
        </div>
      </div>
      <section class="section-sm bg-white main-section">
        <div id="notify-container" class="shell accordian-shell">
          <div id="accordion" role="tablist" class="accordian-border">
            <% include _layouts/logs-accordian %>
          </div>
        </div>
      </section>
      <!--Pagination plugin-->
      <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 text-center padding-left-right-none">
        <ul class="sync-pagination pagination-sm "></ul>
      </div>
    </div>
    <!-- BEGIN script file links -->
    <% include _layouts/common-scripts %>
      <script>
        $(document).ready(function () {
          $("#logsList").addClass("active");
          $("#modalEditBtn").hide();
        });
      </script>
      <script src="/scripts/logs/logs.js"></script>
      <script src="/scripts/jquery.twbsPagination.min.js"></script>
      <!-- Pagination next footer -->
      <%include _layouts/footer %>
</body>