<!DOCTYPE html>
<html class="wide wow-animation smoothscroll" lang="en">

<head>
    <!-- Site Title-->
    <title><%= translation.HUB_LOGS_TITLE %></title>
     <!-- Site logo images-->
     <link href="/images/logo.png" rel="icon" type="image/x-icon"/>
     <!--Stylesheets file links -->
     <% include _layouts/common-header %>
    <link rel="stylesheet" href="/styles/meeting.css">
    <link rel="stylesheet" href="/styles/oldmeeting.css">
</head>

<body class=" bg-white">
    <% include _layouts/header-with-navigation %>
    <div class="page">
        <div id="page-loader">
          <div class="cssload-container">
            <div class="cssload-speeding-wheel"></div>
          </div>
        </div>
        <div class="container-fluid breadcrumb-container">
            <ol class="breadcrumb">
                <h5 class="meeting-head-bread  t-c-default-toolbar"><%= translation.HUB_LOGS_TOOLBER %></h5>
                <li><a href="/dashboard" class="breadcrumb-links"><%= translation.HUB_SPACES_TOOLBAR_DASHBOARD %></a></li>
                <li><%= translation.HUB_LOGS_TOOLBER %></li>
            </ol>
        </div>
        <!-- <div class="newbtn-search-group"> -->
          <!-- <button id = "meetingBtn" class="button button-primary button-block new-meet-btn" type="button"><%= translation.NEW_MEETING_BUTTON %></button>&ensp; -->
        <div class="searchBtn-pagination-container">
          <div class="form-wrap form-wrap_icon linear-icon-magnifier search-btn">
            <input class="form-input search-input input-box-shadow " type="text" name="search" placeholder="Search by Names, Cospaces , etc..,">
          <!-- </div> -->
          </div>

        </div>
        <section class="section-sm bg-white main-section">
          <div class="shell accordian-shell">
            <!-- Accordion-->
            <div id="accordion" role="tablist" class="accordian-border">
              <!-- Bootstrap panel-->
              <div class="panel panel-custom">
                <div class="panel-custom-heading" id="1Headingundefined" role="tab">
                  <p class="panel-custom-title para-title bg-light-grey"><a class="collapsed chevron-icon" role="button" data-toggle="collapse" data-parent="#1" href="#1Collapseundefined" aria-controls="1Collapseundefined">Mr.ABC &emsp; ITS &emsp; 9/7/17 4:00PM</a>
                  </p>
                </div>
                <div class="panel-custom-collapse collapse" id="1Collapseundefined" role="tabpanel" aria-labelledby="1Headingundefined">
                  <div class="panel-custom-body">
                    <ul class="list-group list-content">
                      <li>Cospace: ABC</li>
                      <li>Owner: Sreeharsha inflexion.com</li>
                      <li>Operator:</li>
                      <li>Invitees: 3</li>
                    </ul>
                    <ul class="list-group list-content">
                      <li>Call reference #: 20170907/0001</li>
                      <li>Call URI: abc</li>
                      <li>Call ID: 700102</li>
                    </ul>
                    <a href="#">Edit</a>
                 </div>
                </div>
              </div>
              <!-- Bootstrap panel-->
              <div class="panel panel-custom">
                <div class="panel-custom-heading" id="2Headingundefined" role="tab">
                  <p class="panel-custom-title para-title bg-light-grey"><a class="collapsed chevron-icon" role="button" data-toggle="collapse" data-parent="#2" href="#2Collapseundefined" aria-controls="2Collapseundefined">Mr. ABC &emsp; ITS &emsp; 9/7/17 4:00PM</a>
                  </p>
                </div>
                <div class="panel-custom-collapse collapse" id="2Collapseundefined" role="tabpanel" aria-labelledby="2Headingundefined">
                  <div class="panel-custom-body">
                      <ul class="list-group list-content">
                          <li>Cospace: ABC</li>
                          <li>Owner: Sreeharsha inflexion.com</li>
                          <li>Operator:</li>
                          <li>Invitees: 3</li>
                      </ul>
                      <ul class="list-group list-content">
                          <li>Call reference #: 20170907/0001</li>
                          <li>Call URI: abc</li>
                          <li>Call ID: 700102</li>
                      </ul>
                        <a href="#">Edit</a>
                  </div>
                </div>
              </div>
              <!-- Bootstrap panel-->
              <div class="panel panel-custom">
                <div class="panel-custom-heading" id="3Headingundefined" role="tab">
                  <p class="panel-custom-title para-title bg-light-grey"><a class="collapsed chevron-icon" role="button" data-toggle="collapse" data-parent="#3" href="#3Collapseundefined" aria-controls="3Collapseundefined">Mr. ABC &emsp; ITS &emsp; 9/7/17 4:00PM</a>
                  </p>
                </div>
                <div class="panel-custom-collapse collapse" id="3Collapseundefined" role="tabpanel" aria-labelledby="3Headingundefined">
                  <div class="panel-custom-body">
                      <ul class="list-group list-content">
                          <li>Cospace: ABC</li>
                          <li>Owner: Sreeharsha inflexion.com</li>
                          <li>Operator:</li>
                          <li>Invitees: 3</li>
                      </ul>
                        <ul class="list-group list-content">
                          <li>Call reference #: 20170907/0001</li>
                          <li>Call URI: abc</li>
                          <li>Call ID: 700102</li>
                      </ul>
                        <a href="#">Edit</a>
                  </div>
                </div>
              </div>
              <!-- Bootstrap panel-->
              <div class="panel panel-custom">
                <div class="panel-custom-heading" id="4Headingundefined" role="tab">
                  <p class="panel-custom-title para-title bg-light-grey"><a class="collapsed chevron-icon" role="button" data-toggle="collapse" data-parent="#4" href="#4Collapseundefined" aria-controls="4Collapseundefined">Mr. ABC &emsp; ITS &emsp; 9/7/17 4:00PM</a>
                  </p>
                </div>
                <div class="panel-custom-collapse collapse" id="4Collapseundefined" role="tabpanel" aria-labelledby="4Headingundefined">
                  <div class="panel-custom-body">
                      <ul class="list-group list-content">
                          <li>Cospace: ABC</li>
                          <li>Owner: Sreeharsha inflexion.com</li>
                          <li>Operator:</li>
                          <li>Invitees: 3</li>
                      </ul>
                        <ul class="list-group list-content">
                          <li>Call reference #: 20170907/0001</li>
                          <li>Call URI: abc</li>
                          <li>Call ID: 700102</li>
                      </ul>
                        <a href="#">Edit</a>
                  </div>
                </div>
              </div>
               <!-- Bootstrap panel-->
              <div class="panel panel-custom">
                <div class="panel-custom-heading" id="5Headingundefined" role="tab">
                  <p class="panel-custom-title para-title bg-light-grey"><a class="collapsed chevron-icon" role="button" data-toggle="collapse" data-parent="#5" href="#5Collapseundefined" aria-controls="5Collapseundefined">Mr. ABC &emsp; ITS &emsp; 9/7/17 4:00PM</a>
                  </p>
                </div>
                <div class="panel-custom-collapse collapse" id="5Collapseundefined" role="tabpanel" aria-labelledby="5Headingundefined">
                  <div class="panel-custom-body">
                      <ul class="list-group list-content">
                          <li>Cospace: ABC</li>
                          <li>Owner: Sreeharsha inflexion.com</li>
                          <li>Operator:</li>
                          <li>Invitees: 3</li>
                      </ul>
                        <ul class="list-group list-content">
                          <li>Call reference #: 20170907/0001</li>
                          <li>Call URI: abc</li>
                          <li>Call ID: 700102</li>
                      </ul>
                        <a href="#">Edit</a>
                  </div>
                </div>
              </div>
              <!-- Bootstrap panel-->
              <div class="panel panel-custom">
                <div class="panel-custom-heading" id="6Headingundefined" role="tab">
                  <p class="panel-custom-title para-title bg-light-grey"><a class="collapsed chevron-icon" role="button" data-toggle="collapse" data-parent="#6" href="#6Collapseundefined" aria-controls="6Collapseundefined">Mr. ABC &emsp; ITS &emsp; 9/7/17 4:00PM</a>
                  </p>
                </div>
                <div class="panel-custom-collapse collapse" id="6Collapseundefined" role="tabpanel" aria-labelledby="6Headingundefined">
                  <div class="panel-custom-body">
                      <ul class="list-group list-content">
                          <li>Cospace: ABC</li>
                          <li>Owner: Sreeharsha inflexion.com</li>
                          <li>Operator:</li>
                          <li>Invitees: 3</li>
                      </ul>
                        <ul class="list-group list-content">
                          <li>Call reference #: 20170907/0001</li>
                          <li>Call URI: abc</li>
                          <li>Call ID: 700102</li>
                      </ul>
                        <a href="#">Edit</a>
                  </div>
                </div>
              </div>
              <!-- Bootstrap panel-->
              <div class="panel panel-custom">
                <div class="panel-custom-heading" id="7Headingundefined" role="tab">
                  <p class="panel-custom-title para-title bg-light-grey"><a class="collapsed chevron-icon" role="button" data-toggle="collapse" data-parent="#7" href="#7Collapseundefined" aria-controls="7Collapseundefined">Mr. ABC &emsp; ITS &emsp; 9/7/17 4:00PM</a>
                  </p>
                </div>
                <div class="panel-custom-collapse collapse" id="7Collapseundefined" role="tabpanel" aria-labelledby="7Headingundefined">
                  <div class="panel-custom-body">
                      <ul class="list-group list-content">
                          <li>Cospace: ABC</li>
                          <li>Owner: Sreeharsha inflexion.com</li>
                          <li>Operator:</li>
                          <li>Invitees: 3</li>
                      </ul>
                        <ul class="list-group list-content">
                          <li>Call reference #: 20170907/0001</li>
                          <li>Call URI: abc</li>
                          <li>Call ID: 700102</li>
                      </ul>
                        <a href="#">Edit</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

      </section>

      </div>

  <!-- BEGIN script file links -->
  <% include _layouts/common-scripts %>
    <script>
        $(document).ready(function () {
            $("#logsList").addClass("active");
        });
    </script>
      <!-- Pagination next footer -->
      <%include _layouts/footer %>
</body>
