<!DOCTYPE html>
<html class="wide wow-animation smoothscroll" lang="en">

<head>
  <!-- Site Title-->
  <title>
    <%= translation.HUB_SPACE_TOOLBAR_DASHBOARD %>
  </title>
  <!-- Site logo images-->
  <link href="/images/logo.png" rel="icon" type="image/x-icon" />
  <!--Stylesheets file links -->
  <% include _layouts/common-header %>
    <link rel="stylesheet" href="/styles/spaces/createspace.css">
    <link rel="stylesheet" href="styles/meeting/newMeeting.css">
    <link rel="stylesheet" href="/styles/inbuilt/toastr.min.css">
    <link rel="stylesheet" href="/styles/common/sweetalert.css">
</head>

<body>
  <!-- include file for navigation -->
  <% include _layouts/header-with-navigation %>
    <div class="page">
      <div id="page-loader">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
      </div>
      <div class="container-fluid breadcrumb-container">
        <ol class="breadcrumb">
          <h5 class="meeting-head-bread">
            <%= translation.HUB_CREATE_SPACE_TITLE %>
          </h5>
          <li>
            <a href="/dashboard" class="breadcrumb-links">
              <%= translation.HUB_SPACES_TOOLBAR_DASHBOARD %>
            </a>
          </li>
          <li>
            <a href="/spacelist" class="breadcrumb-links">
              <%= translation.HUB_SPACES_TOOLBAR_SPACES %>
            </a>
          </li>
          <li id="updatespace-breadcrumb">
            <%= translation.HUB_CREATE_SPACE_TOOLBAR %>
          </li>
        </ol>
      </div>
      <section class="section-lg bg-white text-center main-section">
        <div class="shell">
          <h4 id="createSpace">
            <%= translation.HUB_CREATE_SPACE_TOOLBAR %>
          </h4>
          <div class="range range-md-center">
            <div class="cell-md-10 cell-lg-8">
              <form id="createCospaceForm" class="rd-mailform rd-mailform_style-1 text-center validate-form">
                <div id="Name" class="form-wrap form-wrap_icon linear-icon-database-add">
                  <input class="form-input input-box-shadow validate-text" id="contact-sName" type="text" name="name" placeholder="<%= translation.HUB_CREATE_SPACE_NAME %>">
                  <span class="hide error-text">
                    <%= translation.CREATE_SPACE_ERROR_TEXT_SPACE_NAME %>
                  </span>
                </div>
                <div id="URI" class="form-wrap form-wrap_icon linear-icon-link2">
                  <input class="form-input input-box-shadow validate-text" id="contact-create_space_URI" type="text" name="create_space_URI"
                    placeholder="<%= translation.HUB_CREATE_SPACE_ENTER_URI %>">
                  <span class="hide error-text">
                    <%= translation.CREATE_SPACE_ERROR_TEXT_ENTER_URI %>
                  </span>
                </div>
                <div class="hide form-wrap">
                  <p id="videoAdd">Video Address: </p>
                </div>
                <div class="form-wrap form-wrap_icon linear-icon-border-all margin-css custom-cospace input-box-shadow">
                  <select class="form-control on-hover-color" id="sel1">
                    <option value="default" disabled>
                      <%= translation.HUB_CREATE_SPACE_DEFAULT_LAYOUT %>
                    </option>
                    <option value="Allequal">
                      <%= translation.HUB_CREATE_SPACE_ALLEQUAL %>
                    </option>
                    <option>
                      <%= translation.HUB_CREATE_SPACE_SPEAKERONLY %>
                    </option>
                    <option>
                      <%= translation.HUB_CREATE_SPACE_TELEPRESENCE %>
                    </option>
                    <option>
                      <%= translation.HUB_CREATE_SPACE_STACKED %>
                    </option>
                    <option>
                      <%= translation.HUB_CREATE_SPACE_ALLEQUALQUARTERS %>
                    </option>
                    <option>
                      <%= translation.HUB_CREATE_SPACE_ALLEQUALNINTHS %>
                    </option>
                  </select>
                </div>
                <!-- BEGIN SCHEDULE MEETING -->
                <div class="form-wrap">
                  <h6><%= translation.SCHEDULE_MEETING_SUB_HEAD %></h6>
                </div>
                <div class="form-wrap form-wrap_icon linear-icon-group-work margin-css custom-cospace input-box-shadow">
                  <select class="form-control on-hover-color" id="sel2">
                    <option value="default" disabled>
                      <%= translation.SCHEDULE_MEETING_MEETING_TYPE %>
                    </option>
                    <option value="One time">
                      <%= translation.SCHEDULE_MEETING_MEETING_TYPE_ONE_TIME %>
                    </option>
                    <option>
                      <%= translation.SCHEDULE_MEETING_MEETING_TYPE_PERSONAL %>
                    </option>
                  </select>
                </div>
                <div class="row form-wrap datetime-picker-container margin-css">
                  <div class="form-wrap_icon form-wrap_icon__label-outside linear-icon-calendar-31 from-to-date-container">
                    <!-- <label class="form-label-outside" for="event-date">Date</label> -->
                    <input class="form-input input-box-shadow validate-text" id="fromdate" type="text" name="fromdate" placeholder="Start-date" data-time-picker="date"
                      data-dtp="dtp_HoYzJ">
                      <span class="hide error-text">
                        <%= translation.CREATE_SPACE_ERROR_TEXT_MEETING_FROM_DATE %>
                      </span>
                  </div>&nbsp;&nbsp;
                  <div class="form-wrap form-wrap_icon form-wrap_icon__label-outside linear-icon-timer2 from-to-date-container">
                    <!-- <label class="form-label-outside" for="event-date">Date</label> -->
                    <input class="form-input input-box-shadow validate-text" id="fromtime" type="text" name="fromtime" placeholder="Start-time" data-time-picker="time"
                      data-dtp="dtp_HoYzJ">
                      <span class="hide error-text">
                        <%= translation.CREATE_SPACE_ERROR_TEXT_MEETING_FROM_TIME %>
                      </span>
                  </div>
                </div>
                <div class="row form-wrap datetime-picker-container margin-css">
                  <div class="form-wrap_icon form-wrap_icon__label-outside linear-icon-calendar-31 from-to-date-container">
                    <!-- <label class="form-label-outside" for="event-date">Date</label> -->
                    <input class="form-input input-box-shadow validate-text" id="todate" type="text" name="todate" placeholder="End-date" data-time-picker="date"
                      data-dtp="dtp_HoYzJ">
                      <span class="hide error-text">
                        <%= translation.CREATE_SPACE_ERROR_TEXT_MEETING_TO_DATE %>
                      </span>
                  </div>&nbsp;&nbsp;
                  <div class="form-wrap form-wrap_icon form-wrap_icon__label-outside linear-icon-timer2 from-to-date-container">
                    <!-- <label class="form-label-outside" for="event-date">Date</label> -->
                    <input class="form-input input-box-shadow validate-text" id="totime" type="text" name="totime" placeholder="End-time" data-time-picker="time"
                      data-dtp="dtp_HoYzJ">
                      <span class="hide error-text">
                        <%= translation.CREATE_SPACE_ERROR_TEXT_MEETING_TO_TIME %>
                      </span>
                  </div>
                </div>
                <!-- END SCHEDULE MEETING -->
                <br>
                <div class="form-wrap">
                  <h6><%= translation.SCHEDULE_MEETING_SUB_HEAD_MEMBERS %></h6>
                </div><br>
                <section id="existingMembers" class="input-box-shadow" style="padding: 5px;">
                    <h6 style="text-align: left;">Existing Members</h6>
                    <div class="alert-div">
                      <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          admin@inflexion.com
                      </div>
                      <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          hr-dept@inflexion.com
                      </div>
                    </div>
                </section><br>
                <div class="form-wrap margin-css custom-cospace input-box-shadow">
                  <input id="clickToAdd" type="button" value="Click to add a Member" class="button button-primary" data-toggle="modal" data-target="#myModal" style="width: 100%;"/>
                </div>  
                <!-- Modal -->
                <div id="myModal" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <h6 class="modal-title modal-title">Add Members</h6>
                        <button id="addMemberBtn" type="button" class="button button-primary button-sm">Add Member</button>
                      </div>
                      <div id="memberParentDiv" class="modal-body">
                        <input id="admin" name="admin" class="form-input" type="text" value="admin@inflexion.com" placeholder="add member...">
                        <input id="hrDept" name="hrdept" class="form-input" type="text" value="hr-dept@inflexion.com" placeholder="add member...">
                        <div id="addDeleteParent" class="addDeleteParent input-group form-wrap input-box-shadow">
                          <input id="addMembers" class="form-input" type="email" list="emails" autocomplete="off" multiple placeholder="add member...">
                          <span id="searchMember" class="bg-gray input-group-addon"><a class="search-member-icon fa fa-search fa-lg" aria-hidden="true"></a></span>
                          <span id="deleteMember" class="bg-gray input-group-addon"><a class="minus-icon fa fa-trash-o fa-lg" aria-hidden="true"></a></span>
                        </div>
                        <datalist id="emails">
                          <option id="memberAddDiv"></option>
                        </datalist>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="button button-default button-sm" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <a href="/spacelist" id="btndiscard" class="button btn_discard" type="submit">
                  <%= translation.HUB_CREATE_SPACE_DISCARD %>
                </a>
                &nbsp;&nbsp; &nbsp;&nbsp;
                <button id="btndone" class="button button-primary" type="submit">
                  <%= translation.HUB_CREATE_SPACE_DONE %>
                </button>
              </form>
            </div>
          </div>  
        </div>
      </section>
    </div>

    <!-- include file for Script -->
    <% include _layouts/common-scripts %>
      <!-- <script src="/node_modules/moment/src/moment.js"></script> -->
      <script src="/scripts/common/validation.js"></script>
      <script src="/scripts/spaces/updatespace.js"></script>
      <script src="/scripts/spaces/createspace.js"></script>
      <script src="/scripts/inbuilt/toastr.min.js"></script>   
      <script src="/scripts/common/sweetalert.min.js"></script>
      <script>
        $(document).ready(function () {
          $("#spacesList").addClass("active");
        });
      </script>

      <script id="memberAdd" type="text/x-handlebars-template">
        {{#each users}}
        <option>{{user.userJid}}</option> 
        {{/each}}
      </script>

      <% include _layouts/footer %>
</body>

</html>