<!DOCTYPE html>
<html class="wide wow-animation smoothscroll" lang="en">
  <head>
    <!-- Site Title-->
    <title><%= translation.HUB_CHANGE_PASSWORD_TITLE %></title>
    <% include _layouts/common-header %>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/toastr.min.css">
  </head>
  <body>
    <!-- BEGIN Page -->
    <div class="page">
      <div id="page-loader">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
      </div>
      <section class="section-lg bg-white text-center">
        <div class="shell">
          <h4><%= translation.HUB_CHANGE_PASSWORD_TITLE %></h4>
          <div class="range range-md-center">
            <div class="cell-md-10 cell-lg-8">
              <!-- BEGIN Form-->
              <form class="rd-mailform rd-mailform_style-1 text-center validate-form">
                <!-- New Password input field -->
                <div class="form-wrap form-wrap_icon linear-icon-key-hole">
                  <input class="form-input validate-text" id="new-password" type="password" name="nPassword">
                  <label class="form-label" for="new-password"><%= translation.HUB_NEW_PASSWORD %></label>
                  <span class="hide error-text"><%= translation.CPASSWORD_ERROR_TEXT_NEW_PASSWORD %></span>                  
                </div>
                <!-- Confirm Password input field -->
                <div class="form-wrap form-wrap_icon linear-icon-key-hole">
                  <input class="form-input validate-text" id="c-password" type="password" name="cPassword">
                  <label class="form-label" for="c-password"><%= translation.HUB_CONFIRM_PASSWORD %></label>
                  <span class="hide error-text"><%= translation.CPASSWORD_ERROR_TEXT_CONFIRM_PASSWORD %></span>                  
                </div>
                <!-- Save Button -->
                <button id="saveBtn" class="button button-primary" type="submit"><%= translation.HUB_SAVE %></button>
              </form>
              <!-- END Form-->
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- END Page -->
    <!-- Javascript-->
    <% include _layouts/common-scripts %>
    <script src="/scripts/login.js"></script>
    <script src="/scripts/changepassword.js"></script>
    <script src="/scripts/common/validation.js"></script>
    <script src="/scripts/toastr.min.js"></script>
  </body>
</html>
