<!DOCTYPE html>
<html class="wide wow-animation smoothscroll" lang="en">
  <head>
    <!-- BEGIN Site Title-->
    <title><%= translation.HUBCONFIGUATION_TITLE %></title>
    <!-- END Site Title-->
    
    <!-- BEGIN Common bootstrap meta-->
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <!-- END Common bootstrap meta-->

    <!--BEGIN logo image file links -->
    <link href="/images/logo.png" rel="icon" type="image/x-icon">
    <!--END logo image file links -->

    <!--BEGIN Stylesheets file links -->
    <% include _layouts/common-header %>
    <link rel="stylesheet" href="styles/common/style.css">
    <link rel="stylesheet" href="styles/login/login.css">
    <link rel="stylesheet" href="/styles/inbuilt/toastr.min.css">    
    <!--END Stylesheets file links -->

  </head>

  <body>
    <!-- BEGIN Page -->
    <div class="page" id="login-page">
      <!-- BEGIN page-loader -->
      <div id="page-loader">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
      </div>
      <!-- END page-loader -->
      
      <!-- BEGIN page-header Navbar for configure -->
      <% include _layouts/header-with-navigation %>
      <!-- END page-header Navbar for configure -->
      <section class="section-lg bg-white text-center configure-section-custom">
        <div class="shell">
          <!-- BEGIN form Title for configure -->
          <h4><%= translation.HUBCONFIGUATION %></h4>
          <!-- END form Title for configure -->
          <!-- BEGIN for -->
          <div class="range range-md-center">
            <div class="cell-md-10 cell-lg-8">
         
              <form class="rd-mailform rd-mailform_style-1 text-center validate-form">
                <!-- API URL input field -->
                <div class="form-wrap form-wrap_icon linear-icon-link2">
                  <input class="form-input  input-box-shadow validate-text" id="api-url" type="apiurl" name="apiurl" placeholder="<%= translation.HUBCONFIGUATION_API_URL %>">
                  <!-- <label class="form-label" for="api-url"><%= translation.HUBCONFIGUATION_API_URL %></label> -->
                  <span class="hide error-text"><%= translation.CONFIGURE_ERROR_TEXT_API_URL %></span>                  
                </div>
                <!-- User Name input field -->
                <div class="form-wrap form-wrap_icon linear-icon-man">
                  <input class="form-input input-box-shadow validate-text" id="api-uname" type="apiurl" name="apiuserName" placeholder="<%= translation.HUBCONFIGUATION_API_USERNAME %>">
                  <!-- <label class="form-label" for="api-uname"><%= translation.HUBCONFIGUATION_API_USERNAME %></label> -->
                  <span class="hide error-text"><%= translation.CONFIGURE_ERROR_TEXT_API_USERNAME %></span>                  
                </div>
                <!-- User API Password input field -->
                <div class="form-wrap form-wrap_icon linear-icon-key-hole">
                  <input class="form-input input-box-shadow validate-text" id="api-password" type="password" name="apiPassword" placeholder="<%= translation.HUBCONFIGUATION_API_PASSWORD %>">
                  <!-- <label class="form-label" for="api-password"><%= translation.HUBCONFIGUATION_API_PASSWORD %></label> -->
                  <span class="hide error-text"><%= translation.CONFIGURE_ERROR_TEXT_API_PASSWORD %></span>                  
                </div>
                <!-- Form Submit button for Configure -->
                <a id="configureBtn" class="button button-primary " type="submit"><%= translation.HUBCONFIGUATION_SAVE %></a>
              </form>
            </div>
          </div>
             <!-- END form -->
        </div>
      </section>
    </div>
    <!-- END Page -->
   
     <!-- END Page footer for SMTP -->
 
     <!-- BEGIN Template script file links -->
     <% include _layouts/common-scripts %>
     <!-- END Template script file links -->
 
     <!-- BEGIN script file links -->
     <script src="/scripts/common/validation.js"></script>
     <script src="/scripts/user-setup/configure.js"></script>
     <script src="/scripts/user-setup/apismtpsettings.js"></script>
     <script src="/scripts/inbuilt/toastr.min.js"></script>     
     <!-- END script file links -->
  <!-- BEGIN Page footer for SMTP-->
  <%include _layouts/footer %>
  </body>
</html>
