<!-- Page Header-->
<header class="page-header">
  <!-- RD Navbar-->
  <div class="rd-navbar-wrap">
    <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed"
      data-md-layout="rd-navbar-static" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static"
      data-stick-up-clone="false" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true" data-md-stick-up-offset="69px"
      data-lg-stick-up-offset="1px" data-body-class="rd-navbar-default-linked">
      <div class="rd-navbar-inner">
        <!-- RD Navbar Panel-->
        <div class="rd-navbar-panel">
          <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
          <!-- RD Navbar Brand-->
          <div class="rd-navbar-brand logo-place"><a class="brand-name"><img class="h-logo-image"src="/images/logo.png"/></a></div>
        </div>
        <!-- RD Navbar Nav-->
        <div class="rd-navbar-nav-wrap nav_position">
          <ul class="rd-navbar-nav" id="nav-bar">
            <li id="dashboard"><a class="h-cursor" href="/dashboard"><%= translation.HUB_NAVIGATION_DASHBORD %></a></li>
            <li id="meetingList"><a class="h-cursor" href="/meeting"><%= translation.HUB_NAVIGATION_MEETING %></a></li>
            <li id="activityList"><a class="h-cursor" href="/activitylist"><%= translation.HUB_NAVIGATION_ACTIVITY %></a></li>
            <li id="spacesList"><a class="h-cursor" href="/spacelist"><%= translation.HUB_NAVIGATION_SPACES %></a></li>
            <li id="usersList"><a class="h-cursor" href="/users"><%= translation.HUB_NAVIGATION_USERS %></a></li>
            <li id="logsList"><a class="h-cursor" href="/logs"><%= translation.HUB_NAVIGATION_LOGS %></a></li>
            <li id="settingsList" class="rd-navbar--has-dropdown rd-navbar-submenu">
              <a class="h-cursor" href="#"><%= translation.HUB_NAVIGATION_SETTINGS %></a>
              <ul class="rd-navbar-dropdown rd-navbar-open-right">
                <!-- <li><a href="#"><%= translation.HUB_NAVIGATION_SETTINGS_MYPROFILE %></a></li> -->
                <li><a class="settingHighlight" href="/changepassword"><%= translation.HUB_NAVIGATION_SETTINGS_CHANGE_PASSWORD %></a></li>
                <li class="rd-navbar--has-dropdown rd-navbar-submenu">
                  <a class="settingHighlight" href="/configure-settings"><%= translation.HUB_NAVIGATION_SETTINGS_CONFIGURE %></a>
                  <ul class="rd-navbar-dropdown">
                    <li><a class="settingHighlight" href="/configure-settings"><%= translation.HUB_NAVIGATION_SETTINGS_CONFIGURE_API %></a></li>
                    <li><a class="settingHighlight" href="/smtp-settings"><%= translation.HUB_NAVIGATION_SETTINGS_CONFIGURE_SMTP %></a></li>
                  </ul>
                </li>
                <li id="signoutBtn"><a class="h-cursor" href="/login"><%= translation.HUB_NAVIGATION_SETTINGS_SIGNOUT %></a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>  
  </div>
</header>

<!-- <span class="rd-navbar-submenu-toggle"></span>
<span class="rd-navbar-submenu-toggle"></span> -->