<!DOCTYPE html>
<html class="wide wow-animation smoothscroll" lang="en">

<head>
  <!-- Site Title-->
  <title>
    <%= translation.HUB_USERS_TITLE %>
  </title>
  <!-- Site logo images-->
  <link href="/images/logo.png" rel="icon" type="image/x-icon" />
  <!--Stylesheets file links -->
  <link href="/styles/users/users.css" type="text/css" />
  <link rel="stylesheet" href="/styles/meeting/meeting.css">
  <link rel="stylesheet" href="/styles/common/sweetalert.css">
  <% include _layouts/common-header %>
</head>

<body class="h-background-color ">
  <!-- include file for navigation -->
  <% include _layouts/header-with-navigation %>
    <!-- BEGIN Users Pages-->
    <div class="page">
      <!-- BEGIN Users toolbar-->
      <div class="container-fluid breadcrumb-container">
        <ol class="breadcrumb">
          <h5 class="meeting-head-bread t-c-default-toolbar">
            <%= translation.HUB_USERS %>
          </h5>
          <li>
            <a href="/dashboard" class="breadcrumb-links">
              <%= translation.HUB_SPACES_TOOLBAR_DASHBOARD %>
            </a>
          </li>
          <li>
            <%= translation.HUB_USERS %>
          </li>
        </ol>
      </div>
      <!-- END Users toolbar-->
      <section>
        <div class="shell">
          <!-- BEGIN users search head -->
          <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-left-right-none text-center">
            <!-- Search input field -->
            <div class="form-wrap form-wrap_icon linear-icon-magnifier head-search-w-h">
              <input id="filter-users" class="form-input cursor-auto search-input input-box-shadow" type="text" name="search" placeholder="  <%= translation.HUB_USERS_SEARCH_PLACEHOLDER %>">
            </div>
          </div>
          <!-- END users Search  -->
          <!-- Pagination next head -->
          <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 text-center padding-left-right-none">
            <ul class="sync-pagination pagination-sm "></ul>
            <!--Pagination plugin-->
          </div>
          <!-- handlebars -->
          <div id="users-card"></div>
          <!-- include file for card-->
            <% include _layouts/cards/users-card %>
            <% include _layouts/modals/users-modal %>

              <!--Pagination next plugin footer -->

              <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 text-center padding-left-right-none">
                <ul class="sync-pagination pagination-sm" />
              </div>
        </div>
        <!-- page-loaders-users -->
        <div class="us-card-loading" id="page-loaders-users">
          <div class="cssload-container">
            <div class="cssload-speeding-wheel"></div>
          </div>
        </div>

    </div>

    <!-- End Users Pages-->
    </section>

    <!-- BEGIN script file links -->
    <% include _layouts/common-scripts %>
      <script src="/scripts/users/users-card.js"></script>
      <script src="/scripts/jquery.twbsPagination.min.js"></script>
      <script src="/scripts/inbuilt/toastr.min.js"></script>
      <script src="/scripts/common/sweetalert.min.js"></script>
      <!-- End Users script -->
      <!-- Navigation active Users -->
      <script>
        $(document).ready(function () {
          $("#usersList").addClass("active");
        });
      </script>

      <script>
        window.onload = function () {
          $('.').modal('show');
        }
      </script>
      <!-- Pagination next footer -->
      <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 text-center padding-left-right-none">
        <%include _layouts/footer %>
      </div>

</body>

</html>