<!DOCTYPE html>
<html class="wide wow-animation smoothscroll" lang="en">
  <head>
    <!-- Site Title-->
    <title>Home Default</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Libre+Franklin:200,300,500,600,300italic">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/node_modules/datetimepicker-master/build/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/newMeeting.css">

  </head>
  <body>
    <!-- Page -->
    <% include layout %>
    <div class="page">
      <div id="page-loader">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
      </div>
      <section class="section-lg bg-white text-center main-section">
        <div class="shell">
		    <h4><%= translation.SCHEDULE_MEETING_HEADER %></h4>
          <div class="range range-md-center">
            <div class="cell-md-10 cell-lg-8">
              <!-- RD Mailform-->
              <form class="rd-mailform rd-mailform_style-1 text-center" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                <div class="form-wrap form-wrap_icon linear-icon-man">
                  <input class="form-input" id="title" type="text" name="title" data-constraints="@Required">
                  <label class="form-label" for="title"><%= translation.SCHEDULE_MEETING_TITLE %></label>
                </div>
                <div class="form-wrap form-wrap_icon linear-icon-users-plus">
                  <input class="form-input" id="tenant" type="text" name="tenant" data-constraints="@Required">
                  <label class="form-label" for="tenant"><%= translation.SCHEDULE_MEETING_TENANT %></label>
                </div>
                <div class="form-wrap form-wrap_icon linear-icon-user-lock">
                  <input class="form-input" id="owner" type="text" name="owner" data-constraints="@Required">
                  <label class="form-label" for="owner"><%= translation.SCHEDULE_MEETING_OWNER %></label>
                </div>
                <div class="form-wrap form-wrap_icon linear-icon-key-hole">
                  <input class="form-input" id="contact-email" type="email" name="email" data-constraints="@Required">
                  <label class="form-label" for="contact-email"><%= translation.SCHEDULE_MEETING_EMAIL %></label>
                </div>
                <div class="form-wrap form-wrap_icon linear-icon-telephone">
                  <input class="form-input" id="contact-phone" type="text" name="phone" data-constraints="@Required">
                  <label class="form-label" for="contact-phone"><%= translation.SCHEDULE_MEETING_PHONE %></label>
                </div>
                <div class="form-wrap form-wrap_icon linear-icon-calendar-check">
                    <input class="form-input" id="fromdatetimepicker" type="text" name="fromdatetimepicker" data-constraints="@Required">
                    <label class="form-label" for="fromdatetimepicker"><%= translation.SCHEDULE_MEETING_FROM %></label>
                </div>
                <div class="form-wrap form-wrap_icon linear-icon-calendar-check">
                      <input class="form-input" id="todatetimepicker" type="text" name="todatetimepicker" data-constraints="@Required">
                      <label class="form-label" for="todatetimepicker"><%= translation.SCHEDULE_MEETING_TO %></label>
                </div>
                <div class="form-wrap form-wrap_icon linear-icon-timer">
                  <input class="form-input" id="timezone" type="text" name="timezone" data-constraints="@Required">
                  <label class="form-label" for="timezone"><%= translation.SCHEDULE_MEETING_TIMEZONE %></label>
                </div>
                <div class="form-wrap form-wrap_icon linear-icon-shield icon">
                          <select class="form-control" id="sel1">
                            <option value="" selected disabled><%= translation.SCHEDULE_MEETING_IMPORTANCE %></option>
                            <option><%= translation.SCHEDULE_MEETING_IMP_HIGH %></option>
                            <option><%= translation.SCHEDULE_MEETING_IMP_NORMAL %></option>      
                            <option><%= translation.SCHEDULE_MEETING_IMP_LOW %></option>
                        </select>
                </div>
                <div class="form-wrap form-wrap_icon linear-icon-group-work">
                  <input class="form-input" id="cospace" type="text" name="cospace" data-constraints="@Required">
                  <label class="form-label" for="cospace"><%= translation.SCHEDULE_MEETING_COSPACE %></label>
                </div>
                <div class="form-wrap form-wrap_icon linear-icon-share icon">
                  <select class="form-control" id="sel2">
                      <option value="" selected disabled><%= translation.SCHEDULE_MEETING_COSPACE_TYPE %></option>
                      <option><%= translation.SCHEDULE_MEETING_DEFAULT_TEMPLATE %></option>
                      <option><%= translation.SCHEDULE_MEETING_HIDDEN_ROOM %></option>      
                      <option><%= translation.SCHEDULE_MEETING_MANAGED_MEETING %></option>
                      <option><%= translation.SCHEDULE_MEETING_ALL_HANDS %></option>   
                  </select>
                </div>
                <hr><br>
                <div class="form-wrap form-wrap_icon linear-icon-aim icon">
                      <select class="form-control" id="sel3">
                          <option value="" selected disabled><%= translation.SCHEDULE_MEETING_START_MODE %></option>
                          <option><%= translation.SCHEDULE_MEETING_MODE_MANUAL %></option>
                          <option><%= translation.SCHEDULE_MEETING_MODE_AUTOMATIC %></option>      
                      </select>
               </div>
               <br>
                <h5><%= translation.SCHEDULE_MEETING_MEMBER %></h5>
                <div class="form-wrap form-wrap_icon linear-icon-users2">
                  <input class="form-input" id="participants" type="text" name="participants" data-constraints="@Required">
                  <label class="form-label" for="participants"><%= translation.SCHEDULE_MEETING_PARTICIPANTS %></label>
                </div>
                <div class="form-wrap form-wrap_icon linear-icon-location">
                  <input class="form-input" id="pin" type="text" name="pin" data-constraints="@Required">
                  <label class="form-label" for="pin"><%= translation.SCHEDULE_MEETING_PIN %></label>
                </div> 
              </form>
              <br>
              <div class="header-div">
                  <button class="btn btn-secondary btn-lg cancel-btn text-center"><%= translation.SCHEDULE_MEETING_CANCEL %></button>
                  <button class="btn btn-primary btn-lg done-btn"><%= translation.SCHEDULE_MEETING_DONE %></button>
              </div>  
            </div>
          </div>
        </div>
      </section>

        </div>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>   
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/node_modules/datetimepicker-master/build/jquery.datetimepicker.full.min.js"></script>
    <script>
      $('#fromdatetimepicker').datetimepicker();
      $('#todatetimepicker').datetimepicker();
    </script>  
    <script src="/scripts/core.min.js"></script>
    <script src="/scripts/script.js"></script>
  </body>
</html>