<!DOCTYPE html>
<html class="wide wow-animation smoothscroll" lang="en">

<head>
  <!-- Site Title-->
  <title><%= translation.HUB_SPACES_TITLE %></title>
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <link href="/images/logo.png" rel="icon" type="image/x-icon">
  <!--BEGIN Stylesheets file links -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Libre+Franklin:200,300,500,600,300italic">
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="/styles/oldmeeting.css">
  <link rel="stylesheet" href="/styles/component.css">
  <link rel="stylesheet" href="/styles/content.css">
  <!-- END Stylesheets file links-->
</head>

<body class=" h-background-color">
  <!-- BEGIN Zoom Div -->
  <% include navbarhome %>
    <div class="page">
      <!-- BEGIN page loader -->
      <div id="page-loader">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
      </div>
      <!-- End page loader -->

      <!-- BEGIN Spaces toolbar-->
      <div class="container-fluid breadcrumb-container">
        <ol class="breadcrumb ">
          <h5 class="meeting-head-bread"><%= translation.HUB_SPACES_TOOLBAR_SPACES %></h5>
          <li><a href="/dashboard" class="breadcrumb-links"><%= translation.HUB_SPACES_TOOLBAR_DASHBOARD %></a></li>
          <li><%= translation.HUB_SPACES_TOOLBAR_SPACES %></li>
        </ol>
      </div>
      <!-- END Spaces toolbar-->
      <section>
        <div class="shell">
          <!-- BEGIN Spaces search head -->
          <div class="range range-5 h-m-top-none ">
            <div class="searchBtn-pagination-container ">
              <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
                <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-8">
                  <!-- BEGIN Spaces search input head -->
                  <div class="form-wrap form-wrap_icon linear-icon-magnifier head-search-w-h search-margin-top">
                    <input class="form-input search-input " type="text" name="search" placeholder="<%= translation.HUB_SPACES_SEARCH_PLACEHOLDER %>">
                  </div>
                  <!-- BEGIN Spaces search input head -->
                </div>
                <!-- BEGIN Spaces pagination head -->
                <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-4">
                  <div class="pagination-margin-top">
                    <nav>
                      <ul class="pagination-classic">
                        <li class="active pagination-next h-box-shadow"><span >1</span></li>
                        <li class="active pagination-next h-box-shadow"><span >2</span></li>
                        <li class="active pagination-next h-box-shadow"><span >3</span></li>
                        <li class="active pagination-next h-box-shadow"><span >4</span></li>
                        <li class=""><a class=" h-box-shadow h-arrow-right border-none icon-arrow-right linear-icon-arrow-right" href="#"></a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
                <!-- END Spaces pagination head -->
              </div>
            </div>
          </div>
           <!-- END Spaces search head -->
<!-- ==================================== BEGIN Spaces card One ===================================-->
           <div class="col-sm-6 col-md-4 col-xs-12 col-lg-3 ">
             <div class=" morph-button div-top thumb-corporate morph-button-modal morph-button-modal-2 morph-button-fixed  bg-white h-box-shadow h-div-border s-height">
               <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 ">
                 <!-- BEGIN card one user details for Spaces -->
                 <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 ">
                   <ul class="text-center"><li> <b><h6 id="spaceNameID" class="h6-title-color  text-overflow-title h6-title-medium">Names</h6></b></li></ul>
                   <ul><li> <b><h6 class="h6-title ">Owner :</h6></b></li></ul>
                   <ul><li><h6 class="h6-title text-overflow-title  ">allEqual :</h6></li></ul>
                   <ul><li><h6 class="h6-title text-overflow-title ">Call ID: 700102</h6></li></ul>
                   <ul><li><h6 class="h6-title text-overflow-title  ">Members : 5</h6></li></ul>
                  </div>
                  <!-- END card one user details for Spaces-->
                  <!-- BEGIN card one icon star and status for Spaces-->
                  <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 ">
                    <ul><li>
                      <samp class="icon-margin-top">
                        <a class="h-r-star  icon-cursor h-icon-star-color icon-sm fa-dot-circle-o " data-toggle="tooltip" data-placement="top" title="<%= translation.HUB_SPACES_TOOLTIP_STATUS %>"  ></a>
                        <a class="h-r-star  icon-cursor  h-icon-star-color icon-sm linear-icon-star"  data-toggle="tooltip" data-placement="top"  title="<%= translation.HUB_SPACES_TOOLTIP_STAR %> " ></a>
                      </samp>
                    </li></ul>
                  </div>
                  <!-- END card one icon star and status for Spaces -->
                </div>
                <!-- BEGIN card one mouseover show for Spaces-->
                <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
                <div id="icon-list" class="thumb-corporate__overlay thumb-corporate__overlay-gl text-center  h-i-m-top ">
                  <ul class="list-inline-sm"><li>
                    <p class="btn actbtn icon-info h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color icon-sm" data-toggle="tooltip" data-placement="top" title="<%= translation.HUB_SPACES_TOOLTIP_INFO %>" href="#Settings">
                      <i class="linear-icon-reading"></i>
                    </p>
                  </li>
                  <li>
                    <p class="btn btn-circle h-icon-color-sm-delete thumb-corporate__list h-icon-color-sm-delete btn-actived-delete icon-sm "data-toggle="tooltip" data-placement="top" title="<%= translation.HUB_SPACES_TOOLTIP_DELETE %>" href="#Settings">
                      <i class="linear-icon-trash2"></i>
                    </p>
                  </li>
                </ul>
              </div>
            </div>
            <!-- END card one mouseover show for Spaces-->

            <!-- BEGIN card one info icon onclick show for Spaces-->
            <div class="morph-content">
              <div class="content-style-form content-style-form-1">
                <div class="contents_1 col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
                  <!-- BEGIN card one user details for Spaces -->
                  <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 padding-right-none padding-left-none">
                    <ul class="text-center"><li> <b><h6 class="h6-title-color h6-title-medium  ">Harish@.inflexiontech.com</h6></b></li></ul>
                    <ul>
                      <li><b><h6 class="h6-title">Owner:</h6></b></li>
                      <li><h6 class="h6-title ">Call ID: 700102</h6></li>
                      <li><h6 class="h6-title ">Members : 5</h6></li>
                    </ul>
                  </div>
                  <!-- END card one user details for Spaces-->

                  <!-- BEGIN card one close icon for Spaces-->
                  <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 padding-right-none padding-left-none">
                    <ul>
                      <li class="members-padding-icon" >
                        <a class=" close-margin-top thumb-corporate__list " data-toggle="tooltip" data-placement="bottom" title="<%= translation.HUB_SPACES_TOOLTIP_CLOSE %>" href="#close"><i class="linear-icon-cross2"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                    <!-- END card one close icon for Spaces-->
                </div>

                <!-- BEGIN card one members for Spaces-->
                <div class="members-padding scroll-icon">
                  <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-right-none padding-left-none members-margin-t h-div-border">
                    <!-- BEGIN card one spaces name for Spaces members-->
                    <div class="col-md-6 col-sm-6 col-md-6 col-xs-6 col-lg-6 padding-right-none padding-left-none ">
                      <ul><li><b><h6 class="title-color  title-align text-margin-top text-overflow-title">Sreeharsha.inflexiontech@gmail.com</h6></b> </li></ul>
                    </div>
                    <!-- END card one spaces name for Spaces members -->

                    <!-- BEGIN card one show the icon mic,camera and delete for Spaces members-->
                    <div class="col-md-6 col-sm-6 col-md-6 col-xs-6 col-lg-6">
                      <ul class="list-inline-sm icon-right ">
                        <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-mic"></i> </p></li>
                        <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-camera"></i></p></li>
                        <li  class="members-padding-icon" ><p class="btn  icon-member-circle h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-size "><i class="linear-icon-trash2"></i> </p></li>
                      </ul>
                    </div>
                    <!-- BEGIN card one show the icon mic,camera and delete for Spaces members-->
                  </div>
                </div>
                <!-- END card one members for Spaces-->
              </div>
            </div>
            <!-- END card one info icon onclick show for Spaces-->
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-xs-12 col-lg-3 ">
          <div class=" morph-button div-top thumb-corporate morph-button-modal morph-button-modal-2 morph-button-fixed  bg-white h-box-shadow h-div-border s-height">
            <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 ">
              <!-- BEGIN card one user details for Spaces -->
              <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 ">
                <ul class="text-center"><li> <b><h6 id="spaceNameID" class="h6-title-color  text-overflow-title h6-title-medium">Names</h6></b></li></ul>
                <ul><li> <b><h6 class="h6-title ">Owner :</h6></b></li></ul>
                <ul><li><h6 class="h6-title text-overflow-title  ">allEqual :</h6></li></ul>
                <ul><li><h6 class="h6-title text-overflow-title ">Call ID: 700102</h6></li></ul>
                <ul><li><h6 class="h6-title text-overflow-title  ">Members : 5</h6></li></ul>
               </div>
               <!-- END card one user details for Spaces-->
               <!-- BEGIN card one icon star and status for Spaces-->
               <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 ">
                 <ul><li>
                   <samp class="icon-margin-top">
                     <a class="h-r-star  icon-cursor h-icon-star-color icon-sm fa-dot-circle-o " data-toggle="tooltip" data-placement="top" title="<%= translation.HUB_SPACES_TOOLTIP_STATUS %>"  ></a>
                     <a class="h-r-star  icon-cursor  h-icon-star-color icon-sm linear-icon-star"  data-toggle="tooltip" data-placement="top"  title="<%= translation.HUB_SPACES_TOOLTIP_STAR %> " ></a>
                   </samp>
                 </li></ul>
               </div>
               <!-- END card one icon star and status for Spaces -->
             </div>
             <!-- BEGIN card one mouseover show for Spaces-->
             <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
             <div id="icon-list" class="thumb-corporate__overlay thumb-corporate__overlay-gl text-center  h-i-m-top ">
               <ul class="list-inline-sm"><li>
                 <p class="btn actbtn icon-info h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color icon-sm" data-toggle="tooltip" data-placement="top" title="<%= translation.HUB_SPACES_TOOLTIP_INFO %>" href="#Settings">
                   <i class="linear-icon-reading"></i>
                 </p>
               </li>
               <li>
                 <p class="btn btn-circle h-icon-color-sm-delete thumb-corporate__list h-icon-color-sm-delete btn-actived-delete icon-sm "data-toggle="tooltip" data-placement="top" title="<%= translation.HUB_SPACES_TOOLTIP_DELETE %>" href="#Settings">
                   <i class="linear-icon-trash2"></i>
                 </p>
               </li>
             </ul>
           </div>
         </div>
         <!-- END card one mouseover show for Spaces-->

         <!-- BEGIN card one info icon onclick show for Spaces-->
         <div class="morph-content">
           <div class="content-style-form content-style-form-1">
             <div class="contents_1 col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
               <!-- BEGIN card one user details for Spaces -->
               <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 padding-right-none padding-left-none">
                 <ul class="text-center"><li> <b><h6 class="h6-title-color h6-title-medium  ">Harish@.inflexiontech.com</h6></b></li></ul>
                 <ul>
                   <li><b><h6 class="h6-title">Owner:</h6></b></li>
                   <li><h6 class="h6-title ">Call ID: 700102</h6></li>
                   <li><h6 class="h6-title ">Members : 5</h6></li>
                 </ul>
               </div>
               <!-- END card one user details for Spaces-->

               <!-- BEGIN card one close icon for Spaces-->
               <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 padding-right-none padding-left-none">
                 <ul>
                   <li class="members-padding-icon" >
                     <a class=" close-margin-top thumb-corporate__list " data-toggle="tooltip" data-placement="bottom" title="<%= translation.HUB_SPACES_TOOLTIP_CLOSE %>" href="#close"><i class="linear-icon-cross2"></i>
                     </a>
                   </li>
                 </ul>
               </div>
                 <!-- END card one close icon for Spaces-->
             </div>

             <!-- BEGIN card one members for Spaces-->
             <div class="members-padding scroll-icon">
               <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-right-none padding-left-none members-margin-t h-div-border">
                 <!-- BEGIN card one spaces name for Spaces members-->
                 <div class="col-md-6 col-sm-6 col-md-6 col-xs-6 col-lg-6 padding-right-none padding-left-none ">
                   <ul><li><b><h6 class="title-color  title-align text-margin-top text-overflow-title">Sreeharsha.inflexiontech@gmail.com</h6></b> </li></ul>
                 </div>
                 <!-- END card one spaces name for Spaces members -->

                 <!-- BEGIN card one show the icon mic,camera and delete for Spaces members-->
                 <div class="col-md-6 col-sm-6 col-md-6 col-xs-6 col-lg-6">
                   <ul class="list-inline-sm icon-right ">
                     <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-mic"></i> </p></li>
                     <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-camera"></i></p></li>
                     <li  class="members-padding-icon" ><p class="btn  icon-member-circle h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-size "><i class="linear-icon-trash2"></i> </p></li>
                   </ul>
                 </div>
                 <!-- BEGIN card one show the icon mic,camera and delete for Spaces members-->
               </div>
             </div>
             <!-- END card one members for Spaces-->
           </div>
         </div>
         <!-- END card one info icon onclick show for Spaces-->
       </div>
     </div>
<!-- ==================================== END Spaces card One ===================================-->
<!-- ==================================== BEGIN Spaces card Two ===================================-->
<div class="col-sm-6 col-md-4 col-xs-12 col-lg-3 ">
          <div class=" morph-button div-top thumb-corporate morph-button-modal morph-button-modal-2 morph-button-fixed h-box-shadow h-box-shadow  h-div-border s-height">
            <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 ">
              <!-- BEGIN card two  user details for Spaces -->
              <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 ">
                <ul class="text-center"><li> <b><h6 class="h6-title-color text-overflow-title h6-title-medium">Harish@.inflexiontech.com</h6></b></li></ul>
                <ul><li> <b><h6 class="h6-title text-overflow-title ">Owner:</h6></b></li></ul>
                <ul><li><h6 class="h6-title text-overflow-title ">Layout Type : allEqual</h6></li></ul>
                <ul><li><h6 class="h6-title text-overflow-title ">Call ID: 700102</h6></li></ul>
                <ul><li><h6 class="h6-title text-overflow-title ">Members : 5</h6></li></ul>
              </div>
              <!-- END card two  user details for Spaces-->
              <!-- BEGIN card two  icon star and status for Spaces-->
              <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 ">
                <ul><li>
                  <samp class="icon-margin-top">
                    <a class="h-r-star  icon-cursor h-icon-star-color icon-sm fa-dot-circle-o " data-toggle="tooltip" data-placement="top" title=" <%= translation.HUB_SPACES_TOOLTIP_STATUS %> "  ></a>
                    <a class="h-r-star  icon-cursor  h-icon-star-color icon-sm linear-icon-star"  data-toggle="tooltip" data-placement="top"  title="<%= translation.HUB_SPACES_TOOLTIP_STAR %> " ></a>
                  </samp>
                </li></ul>
              </div>
              <!-- END card two  icon star and status for Spaces -->
            </div>
            <!-- BEGIN card two mouseover show for Spaces-->
            <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
              <div id="icon-list" class="thumb-corporate__overlay thumb-corporate__overlay-gl text-center  h-i-m-top ">
                <ul class="list-inline-sm"><li>
                  <p class="btn actbtn icon-info h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color icon-sm" data-toggle="tooltip" data-placement="top" title="<%= translation.HUB_SPACES_TOOLTIP_INFO %>" href="#Settings">
                    <i class="linear-icon-reading"></i>
                  </p>
                </li>
                <li>
                  <p class="btn btn-circle h-icon-color-sm-delete thumb-corporate__list h-icon-color-sm-delete btn-actived-delete icon-sm "data-toggle="tooltip" data-placement="top" title="<%= translation.HUB_SPACES_TOOLTIP_DELETE %>" href="#Settings">
                    <i class="linear-icon-trash2"></i>
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <!-- END card two  mouseover show for Spaces-->
          <!-- BEGIN card two  info icon onclick show for Spaces-->
          <div class="morph-content">
            <div class="content-style-form content-style-form-1">
              <div class="contents_1 col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
                 <!-- BEGIN card two user details for Spaces -->
                 <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 padding-right-none padding-left-none">
                   <ul class="text-center"><li> <b><h6 class="h6-title-color h6-title-medium  ">Harish@.inflexiontech.com</h6></b></li></ul>
                   <ul>
                     <li><b><h6 class="h6-title">Owner:</h6></b></li>
                     <li><h6 class="h6-title ">Call ID: 700102</h6></li>
                     <li><h6 class="h6-title ">Members : 5</h6></li>
                    </ul>
                  </div>
                  <!-- END card two  user details for Spaces-->
                  <!-- BEGIN card two  close icon for Spaces-->
                  <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 padding-right-none padding-left-none">
                    <ul>
                      <li class="members-padding-icon">
                        <a class=" close-margin-top thumb-corporate__list " data-toggle="tooltip" data-placement="bottom" title="<%= translation.HUB_SPACES_TOOLTIP_CLOSE %>" href="#close"><i class="linear-icon-cross2"></i></a>
                      </li>
                    </ul>
                  </div>
                  <!-- END card two  close icon for Spaces-->
                </div>
                <!-- BEGIN card two  members for Spaces-->
                <div class="members-padding scroll-icon">
                  <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-right-none padding-left-none members-margin-t h-div-border">
                    <!-- BEGIN card two  spaces name for Spaces members-->
                    <div class="col-md-6 col-sm-6 col-md-6 col-xs-6 col-lg-6 padding-right-none padding-left-none">
                      <ul><li><b><h6 class="title-color  title-align text-margin-top text-overflow-title">Sreeharsha.inflexiontech@gmail.com</h6></b> </li></ul>
                    </div>
                    <!-- END card two  spaces name for Spaces members -->
                    <!-- BEGIN card two  show the icon mic,camera and delete for Spaces members-->
                    <div class="col-md-6 col-sm-6 col-md-6 col-xs-6 col-lg-6">
                      <ul class="list-inline-sm icon-right ">
                        <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-mic"></i> </p></li>
                        <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-camera"></i></p></li>
                        <li  class="members-padding-icon" ><p class="btn  icon-member-circle h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-size "><i class="linear-icon-trash2"></i> </p></li>
                      </ul>
                    </div>
                    <!-- BEGIN card two show the icon mic,camera and delete for Spaces members-->
                   </div>
                  </div>
                  <!-- END card two members for Spaces-->
                </div>
              </div>
              <!-- END card two info icon onclick show for Spaces-->
           </div>
          </div>
          <div class="col-sm-6 col-md-4 col-xs-12 col-lg-3 ">
            <div class=" morph-button div-top thumb-corporate morph-button-modal morph-button-modal-2 morph-button-fixed  bg-white h-box-shadow h-div-border s-height">
              <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 ">
                <!-- BEGIN card one user details for Spaces -->
                <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 ">
                  <ul class="text-center"><li> <b><h6 id="spaceNameID" class="h6-title-color  text-overflow-title h6-title-medium">Names</h6></b></li></ul>
                  <ul><li> <b><h6 class="h6-title ">Owner :</h6></b></li></ul>
                  <ul><li><h6 class="h6-title text-overflow-title  ">allEqual :</h6></li></ul>
                  <ul><li><h6 class="h6-title text-overflow-title ">Call ID: 700102</h6></li></ul>
                  <ul><li><h6 class="h6-title text-overflow-title  ">Members : 5</h6></li></ul>
                 </div>
                 <!-- END card one user details for Spaces-->
                 <!-- BEGIN card one icon star and status for Spaces-->
                 <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 ">
                   <ul><li>
                     <samp class="icon-margin-top">
                       <a class="h-r-star  icon-cursor h-icon-star-color icon-sm fa-dot-circle-o " data-toggle="tooltip" data-placement="top" title="<%= translation.HUB_SPACES_TOOLTIP_STATUS %>"  ></a>
                       <a class="h-r-star  icon-cursor  h-icon-star-color icon-sm linear-icon-star"  data-toggle="tooltip" data-placement="top"  title="<%= translation.HUB_SPACES_TOOLTIP_STAR %> " ></a>
                     </samp>
                   </li></ul>
                 </div>
                 <!-- END card one icon star and status for Spaces -->
               </div>
               <!-- BEGIN card one mouseover show for Spaces-->
               <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
               <div id="icon-list" class="thumb-corporate__overlay thumb-corporate__overlay-gl text-center  h-i-m-top ">
                 <ul class="list-inline-sm"><li>
                   <p class="btn actbtn icon-info h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color icon-sm" data-toggle="tooltip" data-placement="top" title="<%= translation.HUB_SPACES_TOOLTIP_INFO %>" href="#Settings">
                     <i class="linear-icon-reading"></i>
                   </p>
                 </li>
                 <li>
                   <p class="btn btn-circle h-icon-color-sm-delete thumb-corporate__list h-icon-color-sm-delete btn-actived-delete icon-sm "data-toggle="tooltip" data-placement="top" title="<%= translation.HUB_SPACES_TOOLTIP_DELETE %>" href="#Settings">
                     <i class="linear-icon-trash2"></i>
                   </p>
                 </li>
               </ul>
             </div>
           </div>
           <!-- END card one mouseover show for Spaces-->

           <!-- BEGIN card one info icon onclick show for Spaces-->
           <div class="morph-content">
             <div class="content-style-form content-style-form-1">
               <div class="contents_1 col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
                 <!-- BEGIN card one user details for Spaces -->
                 <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 padding-right-none padding-left-none">
                   <ul class="text-center"><li> <b><h6 class="h6-title-color h6-title-medium  ">Harish@.inflexiontech.com</h6></b></li></ul>
                   <ul>
                     <li><b><h6 class="h6-title">Owner:</h6></b></li>
                     <li><h6 class="h6-title ">Call ID: 700102</h6></li>
                     <li><h6 class="h6-title ">Members : 5</h6></li>
                   </ul>
                 </div>
                 <!-- END card one user details for Spaces-->

                 <!-- BEGIN card one close icon for Spaces-->
                 <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 padding-right-none padding-left-none">
                   <ul>
                     <li class="members-padding-icon" >
                       <a class=" close-margin-top thumb-corporate__list " data-toggle="tooltip" data-placement="bottom" title="<%= translation.HUB_SPACES_TOOLTIP_CLOSE %>" href="#close"><i class="linear-icon-cross2"></i>
                       </a>
                     </li>
                   </ul>
                 </div>
                   <!-- END card one close icon for Spaces-->
               </div>

               <!-- BEGIN card one members for Spaces-->
               <div class="members-padding scroll-icon">
                 <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-right-none padding-left-none members-margin-t h-div-border">
                   <!-- BEGIN card one spaces name for Spaces members-->
                   <div class="col-md-6 col-sm-6 col-md-6 col-xs-6 col-lg-6 padding-right-none padding-left-none ">
                     <ul><li><b><h6 class="title-color  title-align text-margin-top text-overflow-title">Sreeharsha.inflexiontech@gmail.com</h6></b> </li></ul>
                   </div>
                   <!-- END card one spaces name for Spaces members -->

                   <!-- BEGIN card one show the icon mic,camera and delete for Spaces members-->
                   <div class="col-md-6 col-sm-6 col-md-6 col-xs-6 col-lg-6">
                     <ul class="list-inline-sm icon-right ">
                       <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-mic"></i> </p></li>
                       <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-camera"></i></p></li>
                       <li  class="members-padding-icon" ><p class="btn  icon-member-circle h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-size "><i class="linear-icon-trash2"></i> </p></li>
                     </ul>
                   </div>
                   <!-- BEGIN card one show the icon mic,camera and delete for Spaces members-->
                 </div>
               </div>
               <!-- END card one members for Spaces-->
             </div>
           </div>
           <!-- END card one info icon onclick show for Spaces-->
         </div>
       </div>
<!-- ==================================== END Spaces card Two ==================================== -->
<!-- ==================================== BEGIN Spaces card Three ================================ -->
<div class="col-sm-6 col-md-4 col-xs-12 col-lg-3 ">
            <div class=" morph-button div-top thumb-corporate morph-button-modal morph-button-modal-2 morph-button-fixed h-box-shadow h-box-shadow  h-div-border s-height">
              <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 ">
                <!-- BEGIN card three user details for Spaces -->
                <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 ">
                  <ul class="text-center"><li> <b><h6 class="h6-title-color text-overflow-title h6-title-medium">Harish@.inflexiontech.com</h6></b></li></ul>
                  <ul><li> <b><h6 class="h6-title text-overflow-title ">Owner:</h6></b></li></ul>
                  <ul><li><h6 class="h6-title text-overflow-title ">Layout Type : allEqual</h6></li></ul>
                  <ul><li><h6 class="h6-title text-overflow-title ">Call ID: 700102</h6></li></ul>
                  <ul><li><h6 class="h6-title text-overflow-title ">Members : 5</h6></li></ul>
                </div>
                <!-- END card three user details for Spaces-->
                <!-- BEGIN card three icon star and status for Spaces-->
                <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 ">
                  <ul><li>
                    <samp class="icon-margin-top">
                      <a class="h-r-star  icon-cursor h-icon-star-color icon-sm fa-dot-circle-o " data-toggle="tooltip" data-placement="top" title=" <%= translation.HUB_SPACES_TOOLTIP_STATUS %>  "  ></a>
                      <a class="h-r-star  icon-cursor  h-icon-star-color icon-sm linear-icon-star"  data-toggle="tooltip" data-placement="top"  title="<%= translation.HUB_SPACES_TOOLTIP_STAR %> " ></a>
                    </samp>
                  </li></ul>
                </div>
                <!-- END card three icon star and status for Spaces -->
              </div>
              <!-- BEGIN card three mouseover show for Spaces-->
              <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
                <div id="icon-list" class="thumb-corporate__overlay thumb-corporate__overlay-gl text-center  h-i-m-top ">
                  <ul class="list-inline-sm"><li>
                    <p class="btn actbtn icon-info h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color icon-sm" data-toggle="tooltip" data-placement="top" title="<%= translation.HUB_SPACES_TOOLTIP_INFO %>" href="#Settings">
                      <i class="linear-icon-reading"></i>
                    </p>
                  </li>
                  <li>
                    <p class="btn btn-circle h-icon-color-sm-delete thumb-corporate__list h-icon-color-sm-delete btn-actived-delete icon-sm "data-toggle="tooltip" data-placement="top" title="<%= translation.HUB_SPACES_TOOLTIP_DELETE %>" href="#Settings">
                      <i class="linear-icon-trash2"></i>
                    </p>
                  </li>
                </ul>
              </div>
            </div>
            <!-- END card three mouseover show for Spaces-->
            <!-- BEGIN card three info icon onclick show for Spaces-->
            <div class="morph-content">
              <div class="content-style-form content-style-form-1">
                <div class="contents_1 col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
                   <!-- BEGIN card three user details for Spaces -->
                   <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 padding-right-none padding-left-none">
                     <ul class="text-center"><li> <b><h6 class="h6-title-color h6-title-medium  ">Harish@.inflexiontech.com</h6></b></li></ul>
                     <ul>
                       <li><b><h6 class="h6-title">Owner:</h6></b></li>
                       <li><h6 class="h6-title ">Call ID: 700102</h6></li>
                       <li><h6 class="h6-title ">Members : 5</h6></li>
                      </ul>
                    </div>
                    <!-- END card three  user details for Spaces-->
                    <!-- BEGIN card three close icon for Spaces-->
                    <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 padding-right-none padding-left-none">
                      <ul>
                        <li class="members-padding-icon">
                          <a class=" close-margin-top thumb-corporate__list " data-toggle="tooltip" data-placement="bottom" title="<%= translation.HUB_SPACES_TOOLTIP_CLOSE %>" href="#close"><i class="linear-icon-cross2"></i></a>
                        </li>
                      </ul>
                    </div>
                    <!-- END card three close icon for Spaces-->
                  </div>
                  <!-- BEGIN card three members for Spaces-->
                  <div class="members-padding scroll-icon">
                    <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-right-none padding-left-none members-margin-t h-div-border">
                      <!-- BEGIN card three  spaces name for Spaces members-->
                      <div class="col-md-6 col-sm-6 col-md-6 col-xs-6 col-lg-6 padding-right-none padding-left-none">
                        <ul><li><b><h6 class="title-color  title-align text-margin-top text-overflow-title">Sreeharsha.inflexiontech@gmail.com</h6></b> </li></ul>
                      </div>
                      <!-- END card three  spaces name for Spaces members -->
                      <!-- BEGIN card three show the icon mic,camera and delete for Spaces members-->
                      <div class="col-md-6 col-sm-6 col-md-6 col-xs-6 col-lg-6">
                        <ul class="list-inline-sm icon-right ">
                          <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-mic"></i> </p></li>
                          <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-camera"></i></p></li>
                          <li  class="members-padding-icon" ><p class="btn  icon-member-circle h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-size "><i class="linear-icon-trash2"></i> </p></li>
                        </ul>
                      </div>
                      <!-- BEGIN card three show the icon mic,camera and delete for Spaces members-->
                     </div>
                    </div>
                    <!-- END card three members for Spaces-->
                  </div>
                </div>
                <!-- END card three info icon onclick show for Spaces-->
             </div>
            </div>
            <div class="col-sm-6 col-md-4 col-xs-12 col-lg-3 ">
              <div class=" morph-button div-top thumb-corporate morph-button-modal morph-button-modal-2 morph-button-fixed  bg-white h-box-shadow h-div-border s-height">
                <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 ">
                  <!-- BEGIN card one user details for Spaces -->
                  <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 ">
                    <ul class="text-center"><li> <b><h6 id="spaceNameID" class="h6-title-color  text-overflow-title h6-title-medium">Names</h6></b></li></ul>
                    <ul><li> <b><h6 class="h6-title ">Owner :</h6></b></li></ul>
                    <ul><li><h6 class="h6-title text-overflow-title  ">allEqual :</h6></li></ul>
                    <ul><li><h6 class="h6-title text-overflow-title ">Call ID: 700102</h6></li></ul>
                    <ul><li><h6 class="h6-title text-overflow-title  ">Members : 5</h6></li></ul>
                   </div>
                   <!-- END card one user details for Spaces-->
                   <!-- BEGIN card one icon star and status for Spaces-->
                   <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 ">
                     <ul><li>
                       <samp class="icon-margin-top">
                         <a class="h-r-star  icon-cursor h-icon-star-color icon-sm fa-dot-circle-o " data-toggle="tooltip" data-placement="top" title="<%= translation.HUB_SPACES_TOOLTIP_STATUS %>"  ></a>
                         <a class="h-r-star  icon-cursor  h-icon-star-color icon-sm linear-icon-star"  data-toggle="tooltip" data-placement="top"  title="<%= translation.HUB_SPACES_TOOLTIP_STAR %> " ></a>
                       </samp>
                     </li></ul>
                   </div>
                   <!-- END card one icon star and status for Spaces -->
                 </div>
                 <!-- BEGIN card one mouseover show for Spaces-->
                 <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
                 <div id="icon-list" class="thumb-corporate__overlay thumb-corporate__overlay-gl text-center  h-i-m-top ">
                   <ul class="list-inline-sm"><li>
                     <p class="btn actbtn icon-info h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color icon-sm" data-toggle="tooltip" data-placement="top" title="<%= translation.HUB_SPACES_TOOLTIP_INFO %>" href="#Settings">
                       <i class="linear-icon-reading"></i>
                     </p>
                   </li>
                   <li>
                     <p class="btn btn-circle h-icon-color-sm-delete thumb-corporate__list h-icon-color-sm-delete btn-actived-delete icon-sm "data-toggle="tooltip" data-placement="top" title="<%= translation.HUB_SPACES_TOOLTIP_DELETE %>" href="#Settings">
                       <i class="linear-icon-trash2"></i>
                     </p>
                   </li>
                 </ul>
               </div>
             </div>
             <!-- END card one mouseover show for Spaces-->

             <!-- BEGIN card one info icon onclick show for Spaces-->
             <div class="morph-content">
               <div class="content-style-form content-style-form-1">
                 <div class="contents_1 col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
                   <!-- BEGIN card one user details for Spaces -->
                   <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 padding-right-none padding-left-none">
                     <ul class="text-center"><li> <b><h6 class="h6-title-color h6-title-medium  ">Harish@.inflexiontech.com</h6></b></li></ul>
                     <ul>
                       <li><b><h6 class="h6-title">Owner:</h6></b></li>
                       <li><h6 class="h6-title ">Call ID: 700102</h6></li>
                       <li><h6 class="h6-title ">Members : 5</h6></li>
                     </ul>
                   </div>
                   <!-- END card one user details for Spaces-->

                   <!-- BEGIN card one close icon for Spaces-->
                   <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 padding-right-none padding-left-none">
                     <ul>
                       <li class="members-padding-icon" >
                         <a class=" close-margin-top thumb-corporate__list " data-toggle="tooltip" data-placement="bottom" title="<%= translation.HUB_SPACES_TOOLTIP_CLOSE %>" href="#close"><i class="linear-icon-cross2"></i>
                         </a>
                       </li>
                     </ul>
                   </div>
                     <!-- END card one close icon for Spaces-->
                 </div>

                 <!-- BEGIN card one members for Spaces-->
                 <div class="members-padding scroll-icon">
                   <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-right-none padding-left-none members-margin-t h-div-border">
                     <!-- BEGIN card one spaces name for Spaces members-->
                     <div class="col-md-6 col-sm-6 col-md-6 col-xs-6 col-lg-6 padding-right-none padding-left-none ">
                       <ul><li><b><h6 class="title-color  title-align text-margin-top text-overflow-title">Sreeharsha.inflexiontech@gmail.com</h6></b> </li></ul>
                     </div>
                     <!-- END card one spaces name for Spaces members -->

                     <!-- BEGIN card one show the icon mic,camera and delete for Spaces members-->
                     <div class="col-md-6 col-sm-6 col-md-6 col-xs-6 col-lg-6">
                       <ul class="list-inline-sm icon-right ">
                         <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-mic"></i> </p></li>
                         <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-camera"></i></p></li>
                         <li  class="members-padding-icon" ><p class="btn  icon-member-circle h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-size "><i class="linear-icon-trash2"></i> </p></li>
                       </ul>
                     </div>
                     <!-- BEGIN card one show the icon mic,camera and delete for Spaces members-->
                   </div>
                 </div>
                 <!-- END card one members for Spaces-->
               </div>
             </div>
             <!-- END card one info icon onclick show for Spaces-->
           </div>
         </div>
<!--===================================== END Spaces card Three ================================== -->
<!-- ===================================== BEGIN Spaces card Four ================================= -->
<div class="col-sm-6 col-md-4 col-xs-12 col-lg-3 ">
    <div class=" morph-button div-top thumb-corporate morph-button-modal morph-button-modal-2 morph-button-fixed  h-box-shadow  h-div-border s-height">
      <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 ">
        <!-- BEGIN card four user details for Spaces -->
        <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 ">
          <ul class="text-center"><li> <b><h6 class="h6-title-color text-overflow-title h6-title-medium">Harish@.inflexiontech.com</h6></b></li></ul>
          <ul><li> <b><h6 class="h6-title text-overflow-title ">Owner:</h6></b></li></ul>
          <ul><li><h6 class="h6-title text-overflow-title ">Layout Type : allEqual</h6></li></ul>
          <ul><li><h6 class="h6-title text-overflow-title ">Call ID: 700102</h6></li></ul>
          <ul><li><h6 class="h6-title text-overflow-title ">Members : 5</h6></li></ul>
        </div>
        <!-- END card four user details for Spaces-->
        <!-- BEGIN card four icon star and status for Spaces-->
        <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 ">
          <ul><li>
            <samp class="icon-margin-top">
              <a class="h-r-star  icon-cursor h-icon-star-color icon-sm fa-dot-circle-o " data-toggle="tooltip" data-placement="top" title="<%= translation.HUB_SPACES_TOOLTIP_STATUS %>"  ></a>
              <a class="h-r-star  icon-cursor  h-icon-star-color icon-sm linear-icon-star"  data-toggle="tooltip" data-placement="top"  title="<%= translation.HUB_SPACES_TOOLTIP_STAR %>" ></a>
            </samp>
          </li></ul>
        </div>
        <!-- END card four   icon star and status for Spaces -->
      </div>
      <!-- BEGIN card four  mouseover show for Spaces-->
      <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
        <div id="icon-list" class="thumb-corporate__overlay thumb-corporate__overlay-gl text-center  h-i-m-top ">
          <ul class="list-inline-sm"><li>
            <p class="btn actbtn icon-info h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color icon-sm" data-toggle="tooltip" data-placement="top" title="<%= translation.HUB_SPACES_TOOLTIP_INFO %> " href="#Settings">
              <i class="linear-icon-reading"></i>
            </p>
          </li>
          <li>
            <p class="btn btn-circle h-icon-color-sm-delete thumb-corporate__list h-icon-color-sm-delete btn-actived-delete icon-sm "data-toggle="tooltip" data-placement="top" title="<%= translation.HUB_SPACES_TOOLTIP_DELETE %>" href="#Settings">
              <i class="linear-icon-trash2"></i>
            </p>
          </li>
        </ul>
      </div>
    </div>
    <!-- END card four mouseover show for Spaces-->
    <!-- BEGIN card four info icon onclick show for Spaces-->
    <div class="morph-content">
      <div class="content-style-form content-style-form-1">
        <div class="contents_1 col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
           <!-- BEGIN card four  user details for Spaces -->
           <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 padding-right-none padding-left-none">
             <ul class="text-center"><li> <b><h6 class="h6-title-color h6-title-medium  ">Harish@.inflexiontech.com</h6></b></li></ul>
             <ul>
               <li><b><h6 class="h6-title">Owner:</h6></b></li>
               <li><h6 class="h6-title ">Call ID: 700102</h6></li>
               <li><h6 class="h6-title ">Members : 5</h6></li>
              </ul>
            </div>
            <!-- END card four user details for Spaces-->
            <!-- BEGIN card four close icon for Spaces-->
            <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 padding-right-none padding-left-none">
              <ul>
                <li class="members-padding-icon">
                  <a class=" close-margin-top thumb-corporate__list " data-toggle="tooltip" data-placement="bottom" title="<%= translation.HUB_SPACES_TOOLTIP_CLOSE %>" href="#close"><i class="linear-icon-cross2"></i></a>
                </li>
              </ul>
            </div>
            <!-- END card four close icon for Spaces-->
          </div>
          <!-- BEGIN card four members for Spaces-->
          <div class="members-padding scroll-icon">
            <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-right-none padding-left-none members-margin-t h-div-border">
              <!-- BEGIN card two  spaces name for Spaces members-->
              <div class="col-md-6 col-sm-6 col-md-6 col-xs-6 col-lg-6 padding-right-none padding-left-none">
                <ul><li><b><h6 class="title-color  title-align text-margin-top text-overflow-title">Sreeharsha.inflexiontech@gmail.com</h6></b> </li></ul>
              </div>
              <!-- END card four spaces name for Spaces members -->
              <!-- BEGIN card four show the icon mic,camera and delete for Spaces members-->
              <div class="col-md-6 col-sm-6 col-md-6 col-xs-6 col-lg-6">
                <ul class="list-inline-sm icon-right ">
                  <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-mic"></i> </p></li>
                  <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-camera"></i></p></li>
                  <li  class="members-padding-icon" ><p class="btn  icon-member-circle h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-size "><i class="linear-icon-trash2"></i> </p></li>
                </ul>
              </div>
              <!-- BEGIN card four show the icon mic,camera and delete for Spaces members-->
             </div>
            </div>
            <!-- END card four members for Spaces-->
          </div>
        </div>
        <!-- END card four info icon onclick show for Spaces-->
     </div>
    </div>
    <div class="col-sm-6 col-md-4 col-xs-12 col-lg-3 ">
      <div class=" morph-button div-top thumb-corporate morph-button-modal morph-button-modal-2 morph-button-fixed  bg-white h-box-shadow h-div-border s-height">
        <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 ">
          <!-- BEGIN card one user details for Spaces -->
          <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 ">
            <ul class="text-center"><li> <b><h6 id="spaceNameID" class="h6-title-color  text-overflow-title h6-title-medium">Names</h6></b></li></ul>
            <ul><li> <b><h6 class="h6-title ">Owner :</h6></b></li></ul>
            <ul><li><h6 class="h6-title text-overflow-title  ">allEqual :</h6></li></ul>
            <ul><li><h6 class="h6-title text-overflow-title ">Call ID: 700102</h6></li></ul>
            <ul><li><h6 class="h6-title text-overflow-title  ">Members : 5</h6></li></ul>
           </div>
           <!-- END card one user details for Spaces-->
           <!-- BEGIN card one icon star and status for Spaces-->
           <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 ">
             <ul><li>
               <samp class="icon-margin-top">
                 <a class="h-r-star  icon-cursor h-icon-star-color icon-sm fa-dot-circle-o " data-toggle="tooltip" data-placement="top" title="<%= translation.HUB_SPACES_TOOLTIP_STATUS %>"  ></a>
                 <a class="h-r-star  icon-cursor  h-icon-star-color icon-sm linear-icon-star"  data-toggle="tooltip" data-placement="top"  title="<%= translation.HUB_SPACES_TOOLTIP_STAR %> " ></a>
               </samp>
             </li></ul>
           </div>
           <!-- END card one icon star and status for Spaces -->
         </div>
         <!-- BEGIN card one mouseover show for Spaces-->
         <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
         <div id="icon-list" class="thumb-corporate__overlay thumb-corporate__overlay-gl text-center  h-i-m-top ">
           <ul class="list-inline-sm"><li>
             <p class="btn actbtn icon-info h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color icon-sm" data-toggle="tooltip" data-placement="top" title="<%= translation.HUB_SPACES_TOOLTIP_INFO %>" href="#Settings">
               <i class="linear-icon-reading"></i>
             </p>
           </li>
           <li>
             <p class="btn btn-circle h-icon-color-sm-delete thumb-corporate__list h-icon-color-sm-delete btn-actived-delete icon-sm "data-toggle="tooltip" data-placement="top" title="<%= translation.HUB_SPACES_TOOLTIP_DELETE %>" href="#Settings">
               <i class="linear-icon-trash2"></i>
             </p>
           </li>
         </ul>
       </div>
     </div>
     <!-- END card one mouseover show for Spaces-->

     <!-- BEGIN card one info icon onclick show for Spaces-->
     <div class="morph-content ">
       <div class="content-style-form content-style-form-1">
         <div class="contents_1 col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
           <!-- BEGIN card one user details for Spaces -->
           <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 padding-right-none padding-left-none">
             <ul class="text-center"><li> <b><h6 class="h6-title-color h6-title-medium  ">Harish@.inflexiontech.com</h6></b></li></ul>
             <ul>
               <li><b><h6 class="h6-title">Owner:</h6></b></li>
               <li><h6 class="h6-title ">Call ID: 700102</h6></li>
               <li><h6 class="h6-title ">Members : 5</h6></li>
             </ul>
           </div>
           <!-- END card one user details for Spaces-->

           <!-- BEGIN card one close icon for Spaces-->
           <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 padding-right-none padding-left-none">
             <ul>
               <li class="members-padding-icon" >
                 <a class=" close-margin-top thumb-corporate__list " data-toggle="tooltip" data-placement="bottom" title="<%= translation.HUB_SPACES_TOOLTIP_CLOSE %>" href="#close"><i class="linear-icon-cross2"></i>
                 </a>
               </li>
             </ul>
           </div>
             <!-- END card one close icon for Spaces-->
         </div>

         <!-- BEGIN card one members for Spaces-->
         <div class="members-padding scroll-icon">
           <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-right-none padding-left-none members-margin-t h-div-border">
             <!-- BEGIN card one spaces name for Spaces members-->
             <div class="col-md-6 col-sm-6 col-md-6 col-xs-6 col-lg-6 padding-right-none padding-left-none ">
               <ul><li><b><h6 class="title-color  title-align text-margin-top text-overflow-title">Sreeharsha.inflexiontech@gmail.com</h6></b> </li></ul>
             </div>
             <!-- END card one spaces name for Spaces members -->

             <!-- BEGIN card one show the icon mic,camera and delete for Spaces members-->
             <div class="col-md-6 col-sm-6 col-md-6 col-xs-6 col-lg-6">
               <ul class="list-inline-sm icon-right ">
                 <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-mic"></i> </p></li>
                 <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-camera"></i></p></li>
                 <li  class="members-padding-icon" ><p class="btn  icon-member-circle h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-size "><i class="linear-icon-trash2"></i> </p></li>
               </ul>
             </div>
             <!-- BEGIN card one show the icon mic,camera and delete for Spaces members-->
           </div>
         </div>
         <!-- END card one members for Spaces-->
       </div>
     </div>
     <!-- END card one info icon onclick show for Spaces-->
   </div>
 </div>
<!--================================ END Spaces card Four ======================================== -->
<!-- BEGIN Spaces pagination footer -->
<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 h-m-top-none">
  <div class="range range-5 h-m-top-none ">
    <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-4">
      <div class="pagination-margin-top">
        <nav>
          <ul class="pagination-classic">
            <li class="active pagination-next h-box-shadow"><span >1</span></li>
            <li class="active pagination-next h-box-shadow"><span >2</span></li>
            <li class="active pagination-next h-box-shadow"><span >3</span></li>
            <li class="active pagination-next h-box-shadow"><span >4</span></li>
            <li class=""><a class=" h-box-shadow h-arrow-right border-none icon-arrow-right linear-icon-arrow-right" href="#"></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- END Spaces pagination footer -->

</div>
</div>
</section>
  <%include footer %>

  <!-- BEGIN Template script file links -->
  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/scripts/core.min.js"></script>
  <script src="/scripts/script.js"></script>
  <script src="/scripts/jquery.contenthover.min.js"></script>
  <script src="/scripts/general.js"></script>
  <script src="/scripts/modernizr.custom.js"></script>
  <script type="text/x-handlebars-template"></script>
  <script type="handlebars-v4.0.2.js"></script>
  <!--  BEGIN Template script file links src -->

  <!-- BEGIN Spaces script -->

  <!-- <script src="/scripts/zoomindiv.js"></script> -->
  <script src="/scripts/classie.js"></script>
  <script src="/scripts/uiMorphingButton_fixed.js"></script>
  <script>
  $(document).ready(function () {
    $("#spacesList").addClass("active");
  });
  </script>
  <script>

    (function () {
      var docElem = window.document.documentElement, didScroll, scrollPosition;
      // trick to prevent scrolling when opening/closing button
      function noScrollFn() {
        window.scrollTo(scrollPosition ? scrollPosition.x : 0, scrollPosition ? scrollPosition.y : 0);
      }
      function noScroll() {
        window.removeEventListener('scroll', scrollHandler);
        window.addEventListener('scroll', noScrollFn);
      }
      function scrollFn() {
        window.addEventListener('scroll', scrollHandler);
      }
      function canScroll() {
        window.removeEventListener('scroll', noScrollFn);
        scrollFn();
      }
      function scrollHandler() {
        if (!didScroll) {
          didScroll = true;
          setTimeout(function () { scrollPage(); }, 60);
        }
      };
      function scrollPage() {
        scrollPosition = { x: window.pageXOffset || docElem.scrollLeft, y: window.pageYOffset || docElem.scrollTop };
        didScroll = false;
      };
      scrollFn();

      [].slice.call(document.querySelectorAll('.morph-button')).forEach(function (bttn) {
        new UIMorphingButton(bttn, {
          closeEl: '.linear-icon-cross2',
          onBeforeOpen: function () {
             // don't allow to scroll
                noScroll();
              },
              onAfterOpen: function () {
                // can scroll again
                canScroll();
              },
              onBeforeClose: function () {
                // don't allow to scroll
                noScroll();
              },
              onAfterClose: function () {
                // can scroll again
                canScroll();
              }
            });
          });
          // for demo purposes only
          [].slice.call(document.querySelectorAll('.actbtn')).forEach(function (bttn) {
            bttn.addEventListener('click', function (ev) { ev.preventDefault(); });
          });
        })();
      </script>
      <!-- End Spaces script -->

      <!-- END Zoom Div -->
</body>

</html>
