<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Meeting</h4>
</div>
      <div class="modal-body" style="height: 400px; overflow-y: auto;">
                    <!-- RD Mailform-->
                    <form class="rd-mailform rd-mailform_style-1 text-center" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                      <div class="form-wrap form-wrap_icon linear-icon-man margin-css title-wrap">
                        <input class="form-input" id="title" type="text" name="title" data-constraints="@Required">
                        <label class="form-label" for="title"><%= translation.SCHEDULE_MEETING_TITLE %></label>
                      </div>
                      <div class="div1 margin-css">
                        <div class="form-wrap form-wrap_icon linear-icon-key-hole email-wrap">
                          <input class="form-input" id="contact-email" type="email" name="email" data-constraints="@Required">
                          <label class="form-label" for="contact-email"><%= translation.SCHEDULE_MEETING_EMAIL %></label>
                        </div>&nbsp;&nbsp;
                        <div class="form-wrap form-wrap_icon linear-icon-telephone telephone-wrap">
                          <input class="form-input" id="contact-phone" type="text" name="phone" data-constraints="@Required">
                          <label class="form-label" for="contact-phone"><%= translation.SCHEDULE_MEETING_PHONE %></label>
                        </div>
                      </div>
                      <div class="row form-wrap datetime-picker-container margin-css">
                        <div class="form-wrap_icon form-wrap_icon__label-outside linear-icon-calendar-31 from-to-date-container">
                            <!-- <label class="form-label-outside" for="event-date">Date</label> -->
                            <input class="form-input" id="fromdate" type="text" name="fromdate" placeholder="Start-date" data-time-picker="date" data-dtp="dtp_HoYzJ">
                        </div>&nbsp;&nbsp;	
                        <div class="form-wrap form-wrap_icon form-wrap_icon__label-outside linear-icon-timer2 from-to-date-container">
                            <!-- <label class="form-label-outside" for="event-date">Date</label> -->
                            <input class="form-input" id="fromdate" type="text" name="fromtime" placeholder="Start-time" data-time-picker="time" data-dtp="dtp_HoYzJ">
                        </div>
                      </div>
                      <div class="row form-wrap datetime-picker-container margin-css">
                        <div class="form-wrap_icon form-wrap_icon__label-outside linear-icon-calendar-31 from-to-date-container">
                          <!-- <label class="form-label-outside" for="event-date">Date</label> -->
                          <input class="form-input" id="todate" type="text" name="todate" placeholder="End-date" data-time-picker="date" data-dtp="dtp_HoYzJ">
                        </div>&nbsp;&nbsp;	
                        <div class="form-wrap form-wrap_icon form-wrap_icon__label-outside linear-icon-timer2 from-to-date-container">
                          <!-- <label class="form-label-outside" for="event-date">Date</label> -->
                          <input class="form-input" id="todate" type="text" name="totime" placeholder="End-time" data-time-picker="time" data-dtp="dtp_HoYzJ">
                        </div>
                      </div>  
                      <div class="div2 margin-css">
                        <div class="form-wrap form-wrap_icon linear-icon-timer timezone-wrap">
                          <input class="form-input" id="timezone" type="text" name="timezone" data-constraints="@Required">
                          <label class="form-label" for="timezone"><%= translation.SCHEDULE_MEETING_TIMEZONE %></label>
                        </div>&nbsp;&nbsp;
                        <div class="form-wrap form-wrap_icon linear-icon-group-work cospace-wrap">
                          <input class="form-input" id="cospace" type="text" name="cospace" data-constraints="@Required">
                          <label class="form-label" for="cospace"><%= translation.SCHEDULE_MEETING_COSPACE %></label>
                        </div>
                      </div>  
                      <div class="form-wrap form-wrap_icon linear-icon-share icon margin-css">
                        <select class="form-control" id="sel2">
                            <option value="" selected disabled><%= translation.SCHEDULE_MEETING_COSPACE_TYPE %></option>
                            <option><%= translation.SCHEDULE_MEETING_DEFAULT_TEMPLATE %></option>
                            <option><%= translation.SCHEDULE_MEETING_HIDDEN_ROOM %></option>      
                            <option><%= translation.SCHEDULE_MEETING_MANAGED_MEETING %></option>
                            <option><%= translation.SCHEDULE_MEETING_ALL_HANDS %></option>   
                        </select>
                      </div>
                      <h5><%= translation.SCHEDULE_MEETING_MEMBER %></h5>
                      <div class="form-wrap form-wrap_icon linear-icon-users2">
                        <input class="form-input" id="participants" type="text" name="participants" data-constraints="@Required">
                        <label class="form-label" for="participants"><%= translation.SCHEDULE_MEETING_PARTICIPANTS %></label>
                      </div>
                      <div class="form-wrap form-wrap_icon linear-icon-location">
                        <input class="form-input" id="pin" type="text" name="pin" data-constraints="@Required">
                        <label class="form-label" for="pin"><%= translation.SCHEDULE_MEETING_PIN %></label>
                      </div> 
                    </form>
                    <div class="cancel-done-div" style="text-align: center;">
                      <a href="#" class="button button-sm cancel-btn text-center"><%= translation.SCHEDULE_MEETING_CANCEL %></a>
                      <a href="#" class="button button-primary button-sm done-btn"><%= translation.SCHEDULE_MEETING_DONE %></a>
                    </div>  
          </div>      
          <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        